body {
    margin: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-col, #guest-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#home-score, #guest-score {
    width: 100px;
    height: 74px;
    background-color: black;
    margin-bottom: 25px
}

h3 {
    font-size: 24px 
}

#home-score, #guest-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: crimson
}

button {
    background-color: transparent;
    padding: 10px;
    border: 2px solid #9AABD8;
    border-radius: 6px;
    color: #9AABD8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
